@model AasthaFinance.Data.LoanEMISchedule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>LoanEMISchedule</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoanDisbursement.DisbursementCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoanDisbursement.DisbursementCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ScheduleDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ScheduleDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EMIDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMIDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EMI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrincipleAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrincipleAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InterestAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InterestAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
